<div class="main">
  <mat-card [class.mat-elevation-z8]="true">
    <mat-card-header>
      <mat-card-title>GeoMéxico</mat-card-title>
      <mat-card-subtitle>Buscador de regiones del país</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/card.jpg" alt="Photo of CDMX's Zocalo" loading="lazy">
    <mat-card-content>
      <form>
        <mat-form-field appearance="outline">
          <mat-label>Estado</mat-label>
          <input type="text"
           placeholder="Selecciona un estado"
           matInput
           [formControl]="estadosFormControl"
           [matAutocomplete]="auto"
           (change)="setFilter()">
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="setFilter()">
            <mat-option *ngFor="let estado of estados$ | async" [value]="estado">
              {{estado}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Municipio</mat-label>
          <input type="text"
           placeholder="Selecciona un municipio"
           matInput
           [formControl]="municipiosFormControl"
           [matAutocomplete]="auto2"
           (change)="setFilter()">
          <mat-autocomplete #auto2="matAutocomplete" (optionSelected)="setFilter()">
            <mat-option *ngFor="let municipio of municipios$ | async" [value]="municipio">
              {{municipio}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Colonia</mat-label>
          <input type="text"
           placeholder="Selecciona una colonia"
           matInput
           [formControl]="coloniasFormControl"
           [matAutocomplete]="auto3"
           (change)="setFilter()">
          <mat-autocomplete #auto3="matAutocomplete" (optionSelected)="setFilter()">
            <mat-option *ngFor="let colonia of colonias$ | async" [value]="colonia">
              {{colonia}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
    </mat-card-content>
  </mat-card>
</div>
